.DS_Store
.vscode/*
.jshintrc
nodemon.json
public/doc/*
public/img/*
TODO.md
_tmp.*
cache/*
bun.lock

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

._*