*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --bg-artwork: hsl(227, 23%, 85%);
  --bg-initial: hsl(227, 23%, 85%);
  --title-col: hsl(216, 92%, 50%);
  --artist-col: hsl(330, 82%, 40%);
  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  --modal-alert: hsl(12, 100%, 50%);
  --modal-alert-light: hsl(12, 100%, 90%);
  --bleu: hsl(210, 80%, 50%);
  --bg-blur: '';
  --radius: .4rem;
}

img {
  display: block;
  width: 100%;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: 'Muslish', 'Roboto', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  background-size: cover;
  transition: background-color .25s ease;
}

body.idle {
  background-image: linear-gradient(135deg,
      hsl(4, 100%, 66%),
      hsl(264, 97%, 65%) 50%,
      hsl(193, 95%, 57%));
  background-image: linear-gradient(135deg,
      hsl(4deg 100% 66%) 0%,
      hsl(339deg 100% 60%) 14%,
      hsl(320deg 93% 53%) 29%,
      hsl(289deg 75% 56%) 43%,
      hsl(238deg 100% 71%) 57%,
      hsl(204deg 100% 50%) 71%,
      hsl(197deg 100% 50%) 86%,
      hsl(193deg 95% 57%) 100%);
  background-image:
    radial-gradient(
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, .55)),
    conic-gradient(
      rgb(255, 93, 80),
      rgb(216, 99, 150) 90deg,
      rgb(42, 203, 249) 180deg,
      rgb(149, 80, 252) 270deg,
      rgb(255, 93, 80));
  background-size: 100vmax;
}

body.playing {
  background-color: var(--bg-artwork);
  background-image: var(--bg-blur);
  background-position: 50%;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }

  .modal-dialog {
    font-size: 1.5rem;
  }
}

/* Medium devices */
@media only screen and (min-width: 601px) {
  html {
    font-size: 10px;
  }

  .modal-dialog {
    font-size: 1.2rem;
  }
}

/* Large devices */
@media only screen and (min-width: 800px) {
  html {
    font-size: 12px;
  }

  .modal-dialog {
    font-size: 1rem;
  }
}

/* Large devices */
@media only screen and (min-width: 980px) {
  html {
    font-size: 14px;
  }

  .modal-dialog {
    font-size: .85rem;
  }
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }

  main {
    width: 60vw;
  }

  .modal-dialog {
    font-size: .85rem;
  }
}

main {
  display: flex;
  width: 75vw;
  min-width: 200px;
  line-height: 1.2;
  box-shadow: 2px 2px .5rem rgba(0, 0, 0, 0.5);
  background-color: var(--bg-initial);
  transition: background-color .25s linear, filter .5s linear;
  filter: none;
  border-radius: var(--radius);
}

@media (orientation: landscape) {
  main {
    flex-direction: row;
    width: 80vw;
  }

  div#artwork,
  div#infos {
    width: 50%;
  }

  div#artwork,
  div#artwork img {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }

  div#infos {
    display: flex;
    flex-direction: column;
  }

  #player {
    border-bottom-right-radius: var(--radius);
  }

  div#album {
    flex: 1;
  }
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }

  div#artwork,
  div#artwork img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }

  div#album {
    margin-bottom: 1rem !important;
  }

  #player {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }
}


.playing main {
  background-color: var(--bg-artwork);
}

main.showModal {
  filter: blur(6px)
}

div#infos {
  transition: height .5s ease-in-out;
}

div#title,
div#artist,
div#album {
  margin: 0 1rem;
  text-align: right;
  overflow-wrap: break-word;
  hyphens: auto;
  font-weight: 300;
  text-shadow: var(--text-shadow);
  transition: color .5s ease-in-out;
}

div#artist,
div#album {
  font-size: 2.5rem;
  font-style: italic;
  color: var(--artist-col);
}

div#artist {
  margin-top: .5rem;
}

div#title {
  font-size: 3rem;
  font-weight: 460;
  color: var(--title-col);
}

div#album>span {
  color: hsla(0, 0%, 100%, 1);
  font-size: .65em;
}

div#album>span.contrasted {
  color: var(--title-col);
  text-shadow: none;
}

div#album span:before {
  content: "(";
}

div#album span:after {
  content: ")";
}

div#player {
  display: none;
  height: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 11px;
  overflow: hidden;
  border-top: 1px solid hsla(0, 0%, 100%, .125);
  transition: height .5s ease-in-out;
}

div#player div {
  padding: 0 .25rem;
}

div#current,
div#total {
  min-width: 6ch;
  font-weight: 200;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
}

div#timeLine {
  --timeline-width: 2px;
  flex-basis: 100%;
  padding: 0 !important;
  position: relative;
  align-self: stretch;
}

div#player div#timeLine:hover {
  cursor: not-allowed;
}

div#timeLine svg {
  position: absolute;
  display: none;
  left: 0;
  width: calc(var(--timeline-width) * 3);
  height: calc(var(--timeline-width) * 3);
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

div#timeLine svg .st0 {
  fill: var(--bleu);
  stroke: none;
}

div#duration,
div#elapsed {
  position: absolute;
  padding: 0 !important;
  height: var(--timeline-width);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

div#duration {
  z-index: 0;
  width: 100%;
  background-color: #111;
  border-radius: calc(var(--timeline-width) / 2);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, .125) inset;
}

div#elapsed {
  z-index: 10;
  width: 0;
  background: var(--bleu);
  border-radius: calc(var(--timeline-width) / 2) 0 0 calc(var(--timeline-width) / 2);
}

/* Modal dialog */
.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1969;
  outline: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .5s linear
}

.modal.showModal {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: calc(100vw - 6rem);
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 2px solid var(--bleu);
  border-radius: .3rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
  font-weight: 300;
  padding: 1rem;
}

.modal-warning .modal-dialog {
  background: var(--modal-alert-light);
  color: var(--modal-alert);
  border-color: currentColor;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--bleu);
}

.modal-warning .modal-header {
  color: var(--modal-alert);
}

.modal-header h3 {
  font-weight: normal;
  font-size: inherit;
}

.modal-header .btn {
  position: relative;
  display: block;
  width: 1.5em;
  height: 1.5em;
  text-decoration: none;
  opacity: .5;
}

.btn span::before,
.btn span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: .125rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #222;
}

.btn span::before {
  transform: rotate(45deg);
}

.btn span::after {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .modal-header .btn::before {
    /* extends cliquable area on mobile */
    content: '';
    position: absolute;
    top: -1em;
    right: -1em;
    bottom: -1em;
    left: -1em;
  }
}

.modal-header .btn:hover {
  opacity: .75;
}

.modal-body {
  margin-top: 1.5rem;
}
