*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --bg-artwork: hsl(227, 23%, 85%);
  --bg-initial: hsl(227, 23%, 85%);
  --title-col: hsl(0, 0%, 13%);
  --artist-col: hsl(0, 0%, 100%);
  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
  --modal-info: hsl(211, 90%, 60%);
  --modal-alert: hsl(12, 100%, 50%);
  --modal-alert-light: hsl(12, 100%, 90%);
  --bg-blur: '';
  --radius: .6rem;
  --bleu: hsl(210, 80%, 50%);
}

img {
  display: block;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(135deg, rgb(255, 93, 80), rgb(149, 80, 252) 50%, rgb(42, 203, 249));
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .55)),
    conic-gradient(rgb(255, 93, 80), rgb(216, 99, 150) 90deg, rgb(42, 203, 249) 180deg, rgb(149, 80, 252) 270deg, rgb(255, 93, 80));
  background-size: max(100vw, 100vh) max(100vw, 100vh);
  background-position: center;
  transition: background-color .25s ease;
}

body.playing {
  background-color: var(--bg-artwork);
  background-image: var(--bg-blur);
  background-size: cover;
  background-position-y: center;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }

  .modal-dialog {
    font-size: 1.5rem;
  }
}

/* Medium devices */
@media only screen and (min-width: 601px) {
  html {
    font-size: 10px;
  }

  .modal-dialog {
    font-size: 1.2rem;
  }
}

/* Large devices */
@media only screen and (min-width: 800px) {
  html {
    font-size: 12px;
  }

  .modal-dialog {
    font-size: 1rem;
  }
}

/* Large devices */
@media only screen and (min-width: 980px) {
  html {
    font-size: 14px;
  }

  .modal-dialog {
    font-size: .85rem;
  }
}

/* Extra large devices */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  main {
    width: 60vw;
  }

  .modal-dialog {
    font-size: .85rem;
  }
}

main {
  display: flex;
  width: 75vw;
  min-width: 200px;
  line-height: 1.2;
  box-shadow: 2px 2px .5rem rgba(0, 0, 0, 0.5);
  background-color: var(--bg-initial);
  transition: background-color .25s linear, filter .5s linear;
  filter: none;
  border-radius: var(--radius);
}

@media (orientation: landscape) {
  main {
    flex-direction: row;
    width: 80vw;
  }

  div#artwork,
  div#infos {
    width: 50%;
  }

  div#artwork,
  div#artwork img {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }

  div#infos {
    display: flex;
    flex-direction: column;
  }

  #player {
    border-bottom-right-radius: var(--radius);
  }

  div#album {
    flex: 1;
  }
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }

  div#artwork,
  div#artwork img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }

  #player {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
  }
}


.playing main {
  background-color: var(--bg-artwork);
}

main.showModal {
  filter: blur(6px)
}

div#title,
div#artist,
div#album {
  margin-right: .8rem;
  margin-left: .8rem;
  text-align: right;
  overflow-wrap: break-word;
  hyphens: auto;
  transition: color .5s ease-in-out;
}

div#artist {
  margin-top: .5rem;
}

div#title {
  font-size: 2.5rem;
  font-weight: 300;
  text-shadow: var(--text-shadow);
}

.playing div#title {
  color: var(--title-col);
}

div#artist,
div#album {
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  text-shadow: var(--text-shadow);
}

div#album {
  margin-bottom: .5rem;
}

.playing div#artist,
.playing div#album {
  color: var(--artist-col);
}

div#album>span {
  font-weight: 100;
  color: hsla(0, 0%, 100%, 1);
  font-size: .75em;
  /* taille relative au parent, qui est le DIV */
}

div#album>span.contrasted {
  color: var(--title-col);
  text-shadow: none;
}

div#album span:before {
  content: "(";
}

div#album span:after {
  content: ")";
}

div#player {
  display: none;
  height: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-initial);
  color: hsla(0, 0%, 40%, 1);
  font-size: 11px;
  overflow: hidden;
  transition: height .5s ease-in-out;
}

div#player div {
  padding: 0 .25rem;
}

div#current,
div#total{
  min-width: 6ch;
  text-align: center;
  text-shadow: 1px 1px 0 hsla(0, 0%, 100%, .5);
}

div#timeLine {
  --timeline-width: 2px;
  flex-basis: 100%;
  padding: 0!important;
  position: relative;
  align-self: stretch;
  border-top: 1px solid hsla(0, 0%, 100%, .25);
}

div#player div#timeLine:hover {
  cursor: not-allowed;
}

div#timeLine svg {
  position: absolute;
  display: none;
  left: 0;
  width: calc(var(--timeline-width) * 3);
  height: calc(var(--timeline-width) * 3);
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

div#timeLine svg .st0 {
  fill: var(--bleu);
  stroke: none;
}

div#duration,
div#elapsed {
  position: absolute;
  padding: 0!important;
  height: var(--timeline-width);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

div#duration {
  z-index: 0;
  width: 100%;
  background-color: hsla(0, 0%, 71%, 1);
  border-radius: calc(var(--timeline-width) / 2);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .15) inset;
}

div#elapsed {
  z-index: 10;
  width: 0;
  background: var(--bleu);
  border-radius: calc(var(--timeline-width) / 2) 0 0 calc(var(--timeline-width) / 2);
}

/* Modal dialog */
.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1969;
  outline: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .5s linear
}

.modal.showModal {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: calc(100vw - 6rem);
  max-width: 35rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  border: 2px solid var(--modal-info);
  border-radius: .3rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
  font-weight: 300;
}

.modal-warning .modal-content {
  background: var(--modal-alert-light);
  color: var(--modal-alert);
  border-color: currentColor;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  color: var(--modal-info);
}

.modal-warning .modal-header {
  color: var(--modal-alert);
}

.modal-header h5 {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}

.modal-header button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  line-height: 1;
  opacity: .5;
  text-shadow: 0 1px hsl(0, 0%, 100%);
}

.modal-header button:hover {
  opacity: .75;
}

.modal-body {
  position: relative;
  padding: 1rem;
}